<div class="home">
    <div class="introduction">
        <h1>If a tree falls in a forest </h1>
        <h2>and no one is around to hear it, </h2>
        <h3>does it make a sound?</h3>
    </div>

    <div class="features">
        <h3>Why PrimeNG?</h3>
        <p class="features-tagline">Congratulations! 🎉 Your quest to find the UI library for Angular is complete.</p>

        <div class="ui-g">
            <div class="ui-g-12 ui-md-4">
                <img src="../../../assets/showcase/images/home/icon-component.svg" />
                <span class="feature-name">70+ COMPONENTS</span>
                <p>The most complete set of native widgets featuring 70+ easy to use components for all your UI requirements.</p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="../../../assets/showcase/images/home/icon-opensource.svg" />
                <span class="feature-name">OPEN SOURCE</span>
                <p>Hosted at
                    <a href="https://github.com/primefaces/primeng">GitHub</a>, all widgets are open source and free to use under MIT license. Feel the power of open source.</p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="../../../assets/showcase/images/home/icon-themes.svg" />
                <span class="feature-name">PRODUCTIVITY</span>
                <p>Allocate your valuable time to business logic rather than dealing with the complex user interface requirements.</p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="../../../assets/showcase/images/home/icon-productive.svg" />
                <span class="feature-name">THEMES</span>
                <p>Don’t get tied up in just one look & feel. Choose from a variety of options including material and flat design.</p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="../../../assets/showcase/images/home/icon-mobile.svg" />
                <span class="feature-name">TEMPLATES</span>
                <p>Professionally designed highly customizable native Angular CLI application templates to get you started in
                    no time. </p>
            </div>
            <div class="ui-g-12 ui-md-4">
                <img src="../../../assets/showcase/images/home/icon-templates.svg" />
                <span class="feature-name">MOBILE</span>
                <p>Enhanced mobile user experience with touch optimized responsive design elements.</p>
            </div>
        </div>
    </div>

</div>